@use "variables";

.navigation {
  @extend .trans-5,
  .p-rel,
  .d-flexCenter,
  .box-s,
  .p-0-3;
  z-index: variables.$zLayoutNavigation;
  flex-wrap: nowrap;
  height: fit-content;

  *:not(button, a.btn) {
    padding: 0 5px;
  }

  .brand {
    @extend .d-flexCenter;
    height: 60px;

    img {
      height: 40px;
    }
  }
  #nav-check {
    display: none;
    &:checked ~ .nav-links{
      max-height: 100vh !important;
    }
  }

  .nav-toggle {
    @extend .d-none,
    .rounded;
    background-color: transparent;
    margin-inline-start: auto;
    cursor: pointer;
    width: fit-content;
    user-select: none;
  }
  .nav-links{
    transition: 0.5s ease;
  }
  ul{
    @extend .d-flex;
    list-style: none;

    li {
      @extend .d-flexCenter;

      a:not(.btn, .exlMe, button, a.btn) {
        text-transform: capitalize;
        opacity: 0.6;
        transition: 0.2s ease-in-out;

        &:hover,
        &.activeLink {
          opacity: 1;
          color: var(--nav-link-color, unset)!important;
        }
      }
    }
  }

  &.fixed {
    @extend .t-0,
    .l-0,
    .w-100,
    .p-sticky;
  }

  &.noshadow {
    box-shadow: unset;
  }

  &.navLight {
    *:not(.brand *, a.btn, button, button span) {
      color: variables.$dark;
    }
  }

  &.navDark {
    *:not(.brand *, a.btn, button, button span) {
      color: variables.$light;
    }
  }
}

.xTable{
  width: 100%;
  text-align: right;
  border-collapse: separate;
  border-spacing: 2px 0.8rem;
  td,th{
    padding: 1rem;
  }
  thead {
    tr{
      position: sticky;
      top: var(--table-stick-from-top, 60px);
      box-shadow: 0 0 6px #00000010;
      border-radius: 15px;
    }
    th{
      background-color:  var(--custom-table-th-bg, #fafafa);
      &:first-child{border-radius: 0 15px 15px 0}
      &:last-child{border-radius: 15px 0 0 15px}
    }
  }

  tbody {
    td{
      background-color: var(--custom-table-td-bg, #fff);
      &:first-child{border-radius: 0 15px 15px 0}
      &:last-child{border-radius: 15px 0 0 15px}
      &[colspan]:not([colspan="1"]){
        border-radius:15px!important;

      }
    }
    tr{
      border-radius: 15px;
      transition: 0.2s ease-in-out;
      margin-bottom: 1rem;
      &:hover{
        box-shadow: 0 0 10px #00000020;
      }
    }
  }

}

.alert {
  @extend .w-100,
  .rounded,
  .f-14,
  .f-center;
  margin: 5px 0;
  padding: 5px;

  &-primary {
    @extend .alert;
    background-color: variables.$primaryG;
    border: 1px solid variables.$primaryHA;
    color: variables.$primaryHA;
  }

  &-light {
    @extend .alert;
    background-color: variables.$lightG;
    border: 1px solid variables.$lightHA;
    color: variables.$lightHA;
  }

  &-dark {
    @extend .alert;
    background-color: variables.$lightG;
    border: 1px solid variables.$darkHA;
    color: variables.$darkHA;
  }

  &-warning {
    @extend .alert;
    background-color: variables.$warningG;
    border: 1px solid variables.$warningHA;
    color: variables.$warningHA;
  }

  &-danger {
    @extend .alert;
    background-color: variables.$dangerG;
    border: 1px solid variables.$dangerHA;
    color: variables.$dangerHA;
  }

  &-info {
    @extend .alert;
    background-color: variables.$infoG;
    border: 1px solid variables.$infoHA;
    color: variables.$infoHA;
  }

  &-success {
    @extend .alert;
    background-color: variables.$successG;
    border: 1px solid variables.$successHA;
    color: variables.$successHA;
  }

  &-secondary {
    @extend .alert;
    background-color: variables.$secondaryG;
    border: 1px solid variables.$secondaryHA;
    color: variables.$secondaryHA;
  }

  &-bee {
    @extend .alert;
    background-color: variables.$beeG;
    border: 1px solid variables.$beeHA;
    color: variables.$beeHA;
  }
}

.pagination {
  display: flex;

  .disabled {
    opacity: 0.5
  }

  .active {
    background-color: #3B69B1;
    color: white;
  }

  li {
    padding: 10px;
    border: solid 1px #00000015;

    &:last-child {
      margin-right: 5px;
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
    }

    &:first-child {
      margin-left: 5px;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
    }

    &:last-child,
    &:first-child {
      background-color: #3B69B1;
      color: white;
    }
  }
}

.avatar {
  aspect-ratio: 1/1;
  border-radius: 50%;
  @extend .row-c;
}

@media screen and (max-width: variables.$under-desktop-size) {

  .navigation {
    flex-wrap: wrap;
    //overflow: hidden;


    .brand {
      //flex: 0 0 80%;
    }

    .nav-toggle {
      //flex: 0 0 10%;
      display: block !important;
    }

    .nav-links{
      flex: 0 0 100%;
      max-height: 0;
      overflow: hidden;
    }
    ul{
      flex: 0 0 100%;
      flex-wrap: wrap;

      li {
        flex: 0 0 100%;
      }
    }
  }

  .xTable, .xTable tbody, .xTable tr, .xTable td{
    display: block;
    width: 100%;
  }
  .xTable {
    thead{
      display: none;
    }
    tr{
      margin-top:  1rem;
    }
    td{
      text-align: left!important;
      padding-right: 50%;
      position: relative;
      border: solid 1px #00000016;

      &:first-child{
        border-radius: 15px 15px 0 0!important;
      }
      &:last-child{
        border-radius: 0 0 15px 15px!important;
      }

      &:before{
        content: attr(data-label);
        position: absolute;
        right: 1rem;
        width: 50%;
        text-align: right;
        font-weight: bold;
      }

      &.full-cell{
        padding-right: 1rem;
        &:before{
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: variables.$under-mobile-size) {
  .mobile-sidebar{
    position: fixed !important;
    bottom: 0;
    z-index: 9;
  }
}
